body {
    font-family: Arial;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
    color: white;
}

.navbar input,
.navbar select {
    padding: 6px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

#productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
}

.card img {
    height: 150px;
    object-fit: contain;
}